apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins
  namespace: jenkins-dev
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: jenkins.dev.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dev-jenkins
            port:
              number: 8080
  tls: []
