apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jenkins-dev
namePrefix: dev-
resources:
  - ../../base
  - jenkins-dev-secret.yaml
  - ingress.yaml
patches:
  - path: patches.yaml
    target:
      kind: Deployment
      name: jenkins
configMapGenerator:
  - name: jenkins-config
    behavior: replace
    files:
      - jenkins.yaml=dev-jenkins.yaml
