apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      serviceAccountName: jenkins
      containers:
      - name: jenkins
        image: jenkins/jenkins:lts-jdk17
        ports:
        - name: http
          containerPort: 8089
        - name: agent
          containerPort: 50000
        envFrom:
        - configMapRef:
            name: jenkins-app-config
        env:
        - name: JENKINS_OPTS
          value: "--httpPort=$(JENKINS_HTTP_PORT)"
        - name: JAVA_OPTS
          value: "$(JENKINS_JAVA_OPTS)"
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
        - name: jenkins-config
          mountPath: /var/jenkins_home/casc_configs
        securityContext:
          runAsUser: 1000
          fsGroup: 1000
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "500m"
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-pvc
      - name: jenkins-config
        configMap:
          name: jenkins-config
