apiVersion: apps/v1
kind: Deployment
metadata:
  name: sealed-secrets-web
  namespace: sealed-secrets-web
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/instance: sealed-secrets-web
      app.kubernetes.io/name: sealed-secrets-web
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: sealed-secrets-web
        app.kubernetes.io/name: sealed-secrets-web
    spec:
      containers:
      - name: sealed-secrets-web
        args:
        -  "--sealed-secrets-service-namespace=kube-system"
        -  "--sealed-secrets-service-name=sealed-secrets-controller"
        image: ghcr.io/bakito/sealed-secrets-web:v3.1.3
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /_health
            port: http
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /_health
            port: http
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          runAsGroup: 1000
          runAsUser: 1001
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: sealed-secrets-web
      serviceAccountName: sealed-secrets-web
      terminationGracePeriodSeconds: 30
